.gsb-tree {
	margin: 30px;
}

.gsb-tree ul {
  list-style-type: none;
  padding-left: 20px;
  display: none;
}

.gsb-tree li.open > ul {
  display: block;
}

.gsb-tree > ul {
  margin: 0;
  padding: 0;
  display: block;
}

.gsb-tree li {
	pointer-events: none;
}

.gsb-tree li::before {
  content: "⊡";
  color: #888888;
  display: inline-block;
	font-size: 16pt;
	width: 16px;
	height: 16px;
  margin-right: 6px;
	pointer-events: auto;
}

.gsb-tree li.closed.empty, .gsb-tree li.open.empty {
  cursor: auto;
}

.gsb-tree li.closed, .gsb-tree li.open {
  cursor: pointer;
}

.gsb-tree li {
  cursor: auto;
}

.gsb-tree li.closed::before {
  content: "⊞";
}

.gsb-tree li.open::before {
  content: "⊟";
}

.gsb-tree li.empty.closed::before, .gsb-tree li.empty.open::before {
  content: "⊡";
}
