@charset "UTF-8";

.main {
  min-width: 13in;
  padding-top: 25px;
  padding-left: 20px;
}

.main h2 {
  padding-left: 50px;
}

.sandbox-column {
  padding-top: 15px;
  padding-bottom: 15px;
  display:inline-block;
  vertical-align:top;
}

.btn:focus {
  outline:0 !important;
  box-shadow: none !important;
}

.collapsible .chevron {
  min-width: 24px;
}

.chevron-animated {
  transition: transform .3s;
  -webkit-transition: transform .3s;
}

.chevron-rotated {
  -webkit-filter: none;
  filter: none;
  -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=1)";
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}

.collapsible .chevron {
  margin-left: -16px;
  margin-right: 4px;
}

.collapsible .chevron::before {
  content: "\e5cc"; /* chevron_right */
  vertical-align: -55%;
  font-size: 120%;
  line-height: 1rem;
}

.jxgbox {
  border: none !important;
}

.sandbox-description {
  line-height: 1.15rem;
}

.sandbox-selections {
  padding-top: 20px;
  padding-right: 12px;
  padding-left: 12px;
  padding-bottom: 12px;
  line-height: 1.6em;
}

.sandbox-selections > span.figure {
  margin-right: 0.6em;
}

.sandbox-selections > span.space {
  display: inline-block;
}

.sandbox-tree ul {
  list-style-type: none;
  padding-left: 20px;
  line-height: 2em;
  display: none;
}

.sandbox-tree li.open > ul {
  display: block;
}

.sandbox-tree > ul {
  margin: 0;
  padding: 0;
  display: block;
}

.sandbox-tree li > span.handler::before {
  content: "\e835"; /* check_box_outline_blank */
  color: #ccc;
  font-size: 80%;
  margin-left: -2px;
  margin-right: 7px;
  pointer-events: auto;
  vertical-align: -23%;
}

.sandbox-tree li.closed > span.handler, .sandbox-tree li.open > span.handler {
  cursor: pointer;
}

.sandbox-tree li.closed > span.handler::before {
  color: #888;
  content: "\e146"; /* add_box */
}

.sandbox-tree li.open > span.handler::before {
  color: #888;
  content: "\e909"; /* indeterminate_check_box */
}

.sandbox-tree li.empty.closed > span.handler, .sandbox-tree li.empty.open > span.handler {
  cursor: initial;
}

.sandbox-tree li.empty.closed > span.handler::before, .sandbox-tree li.empty.open > span.handler::before {
  color: #ccc;
  content: "\e835"; /* check_box_outline_blank */
}

.sandbox-tree .implication {
  padding-left: 0.5em;
  padding-right: 0.5em;
}

.sandbox-reference {
  font-size: 80%;
}

.sandbox-text .point {
  padding-left: 0.1em;
  padding-right: 0.1em;
}

.sandbox-text .angle-comma {
  padding-right: 0.2em;
}

.sandbox-text .figure {
  cursor: pointer;
  border-style: solid;
  border-width: 0.3px;
  line-height: 1.25em;
  padding-bottom: 0.15em;
  padding-left: 0.1em;
  padding-right: 0.1em;
  border-color: #4FC3F7;
  background-color: #E1F5FE;
}

.sandbox-text .figure.selected.selected0 {
  border-color: #E57373;
  background-color: #FFCDD2;
}
.sandbox-text .figure.selected.selected1 {
  border-color: #43A047;
  background-color: #C8E6C9;
}
.sandbox-text .figure.selected.selected2 {
  border-color: #FB8C00;
  background-color: #FFE0B2;
}
.sandbox-text .figure.selected.selected3 {
  border-color: #3949AB;
  background-color: #C5CAE9;
}

.jxgbox .JXGText {
  font-size: 16px !important;
}
