@charset "UTF-8";

.main {
  min-width: 13in;
  padding-left: 20px;
}

.main h2 {
  padding-left: 50px;
  padding-bottom: 15px;
  padding-top: 25px;
}

.collapsible .chevron {
  min-width: 24px;
}

.collapsible .chevron::before {
  content: "\f078";
}

.collapsible[aria-expanded="false"] .chevron::before {
  content: "\f054";
}

.jxgbox {
  border: none !important;
}

.sandbox-description {
  line-height: 1.15rem;
}

.sandbox-selections {
  padding-top: 20px;
  padding-right: 12px;
  padding-left: 12px;
  padding-bottom: 12px;
  line-height: 1.6em;
}

.sandbox-selections > span.figure {
  margin-right: 0.6em;
}

.sandbox-selections > span.space {
  display: inline-block;
}

.sandbox-tree ul {
  list-style-type: none;
  padding-left: 20px;
  display: none;
}

.sandbox-tree li.open > ul {
  display: block;
}

.sandbox-tree > ul {
  margin: 0;
  padding: 0;
  display: block;
}

.sandbox-tree li > span.handler::before {
  content: "\f0c8";
  color: #888888;
  margin-right: 8px;
  vertical-align: -8%;
  pointer-events: auto;
}

.sandbox-tree li.closed > span.handler, .sandbox-tree li.open > span.handler {
  cursor: pointer;
}

.sandbox-tree li.closed > span.handler::before {
  content: "\f0fe";
}

.sandbox-tree li.open > span.handler::before {
  content: "\f146";
}

.sandbox-tree li.empty.closed > span.handler::before, .sandbox-tree li.empty.open > span.handler::before {
  content: "\f0c8";
}

.sandbox-tree .implication {
  padding-left: 0.5em;
  padding-right: 0.5em;
}

.sandbox-text .point {
  padding-left: 0.1em;
  padding-right: 0.1em;
}

.sandbox-text .angle-comma {
  padding-right: 0.2em;
}

.sandbox-text .figure {
  cursor: pointer;
  border-style: solid;
  border-width: 0.3px;
  line-height: 1.25em;
  padding-bottom: 0.15em;
  padding-left: 0.1em;
  padding-right: 0.1em;
  border-color: #4FC3F7;
  background-color: #E1F5FE;
}

.sandbox-text .figure.selected {
  border-color: #EF5350;
  background-color: #FFCDD2; 
}

.jxgbox .JXGText {
  font-size: 16px !important;
}
